<p>Voorjaars ALV van Vortex Adventures</p>
<p>Deze algemene ledenvergadering is bedoelt voor alle jaar leden van Vortex Adventures.</p>
<p>Tijdens deze vergaderingen verteld het bestuur waar zij mee bezig is en kunnen de leden meedenken en stemmen over de richting die VA uitgaat vanaf dat punt.</p>
<p>De volgende punten staan deze ALV op de agenda:</p>
<ul>
    <li>Mededelingen</li>
    <li>Notulen najaars ALV (stemmen)</li>
    <li>Secretarieel jaarverslag 2020 (stemmen)</li>
    <li>Financieel jaarverslag 2020 (stemmen)</li>
    <li>Begroting 2021 (stemmen)</li>
    <li>Voorstel aanpassingen Huishoudelijk regelement (stemmen)</li>
    <li>Voorstel aanpassingen Statuten (stemmen)</li>
    <li>Ledenadministratie demonstratie</li>
    <li>WVTTK</li>
</ul>
<p>Het is mogelijk om hier een jaar lidmaatschap te kopen.</p>
<p>De ALV zal plaatsvinden via Zoom. Inloggen kan via de volgende link.</p>
<p>De zoom meeting ID is 362 253 6193<br>Het wachtwoord voor de meeting is &quot;vortex&quot;<br>De vergadering start om 14:00, maar je bent al eerder welkom.</p>
